/* Stile generale */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Helvetica Neue";
}
html,
body {
  height: 100vh;
  background-color: #c4c4c4;
  font-family: "Helvetica Neue";
  display: flex;
  align-items: center;
}
.score-screen {
  position: fixed;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  height: 100vh;
  width: 100vw;
  background-color: #fa6b67;
  z-index: 1000;
}

.score-time {
  left: 50%;
  transform: translateX(-50%);
  position: fixed;
  top: 0%;
  display: flex;
  width: 80vw;
  max-width: 350px;
  height: 60px;
  padding: 15px 30px;
  justify-content: space-between;
  align-items: center;
  border-radius: 34px;
  background: #fff;
}
.time-container,
.score-container {
  display: flex;
  width: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  flex-shrink: 0;
}
/* Scroll container */
.scroll-container {
  bottom: 0%;
  position: fixed;
  display: flex;
  gap: 20px;
  width: 100%;
  height: auto;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  align-items: center;
  padding: 20px;
  z-index: 50;
}

/* Carte del carosello */
.card {
  flex-shrink: 0;
  width: 80vw;
  height: 75vh;
  max-width: 350px;
  max-height: 700px;

  padding: 15px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  justify-content: space-between;

  scroll-snap-align: center;

  font-weight: bold;
  border-radius: 7px;
  color: black;
  z-index: 50;

  /* box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); */
  /* transition: transform 0.3s ease; */
}

/* Colori delle carte */
.renewables {
  background-color: #95ab4d;
}
.fossil {
  background-color: #cc7d39;
}
.nuclear {
  background-color: #4b9fad;
}
.approval {
  background-color: #c76d85;
}
.grid {
  background-color: #ab74b2;
}

/* Parametri delle carte */

.card-parameters {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  border-top: 1px solid #000;
}
.parameter {
  display: flex;
  padding: 0.75rem 0rem;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  border-bottom: 1px solid #000;
}

/* Fullscreen Div Scrollabile */
.fullscreen-div {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100vw;
  min-height: 110vh;
  height: auto;
  background-color: white;
  z-index: 100;
  box-shadow: 0 -8px 16px rgba(0, 0, 0, 0.2);
  border-radius: 20px 20px 0 0;
  animation: slideIn 0.7s ease forwards;
  overflow-x: hidden;
  overflow-y: auto;
}
/* feedback investimento accepted/denied */
.feedback-stamp {
  color: #630921;
  font-family: "Helvetica Neue";
  font-size: 3.5rem;
  font-style: normal;
  font-weight: 500;
  padding: 0px 5px;
  border-radius: 0.625rem;
  border: 8px solid #630921;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(3) rotate(-5deg);
  opacity: 0;
  transition: transform 0.3s ease-in, opacity 0.3s ease-in;
  z-index: -10;
  /* display: none; */
}

.feedback-stamp.show {
  transform: translate(-50%, -50%) scale(1) rotate(5deg);
  opacity: 1;
  z-index: 200;
}

/* carte interne */
.inner-card {
  display: flex;
  width: fill;
  padding: 20px;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}
.inner-card-parameters {
  display: flex;
  padding: 12px 0px;
  /* flex-direction: column; */
  align-items: flex-start;
  justify-content: space-between;
  align-self: stretch;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}
.inner-parameter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 3px;
}

.section-title {
  align-self: stretch;
}
.investment-body {
  /* align-self: stretch; */
  align-items: center;
  display: none;
  width: fill;
  max-width: 500px;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}
/* investimenti rinnovabili*/

.green-map {
  margin: auto;
  align-self: stretch;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.button-grid {
  display: grid;

  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  width: 100%;
}
.renewable-button {
  padding: 10px 15px;
  font-size: 1rem;
  font-weight: 500;
  text-align: center;

  background-color: #b2cd5c;
  border: 1px solid #000;
  border-radius: 21px;
  box-shadow: 1px 1px 0px 0px #000;
  color: #000;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.renewable-button:hover {
  background-color: #4b591b;
}

/* investimenti fossil fuels */
.fossil-resource {
  margin: auto;
  align-self: stretch;
  max-width: 60%;
  max-height: 100%;
  object-fit: cover;
}
.fossil-import-container {
  display: flex;
  align-items: flex-start;
  gap: 15px;
  align-self: stretch;
}
.fossil-flag-container {
  display: flex;
  padding: 10px;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  flex: 1 0 0;

  border-radius: 5px;
  border: 1px solid #000;
  background: #c36a1d;
}
.fossil-flag {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.fossil-button {
  height: 44px;
  align-self: stretch;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #eaae79;
  border: 1px solid #000;
  border-radius: 21px;
  box-shadow: 1px 1px 0px 0px #000;
  color: #000;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.fossil-button:hover {
  background-color: #cc7d39;
}

/* investimenti nuclear */
.nuclear-title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}
.nuclear-code {
  max-width: 25%;
}
.nuclear-steps-container {
  display: flex;
  width: 80%;
  flex-direction: column;
  align-items: flex-start;
  gap: -2px;
}
.nuclear-step {
  display: flex;
  height: 49px;
  padding: 12px 17px 12px 19px;
  justify-content: center;
  align-items: center;
  align-self: stretch;

  border-radius: 5px;
  border: 2px dashed #000;
  background: #378997;
}
.nuclear-button {
  padding: 10px 15px;
  font-size: 1rem;
  font-weight: 500;
  text-align: center;

  background-color: #6bc2d1;
  border: 1px solid #000;
  border-radius: 21px;
  box-shadow: 1px 1px 0px 0px #000;
  color: #000;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.nuclear-button:hover {
  background-color: #378997;
}

/* investimenti grid */
.grid-import-container {
  display: flex;
  align-items: flex-start;
  gap: 15px;
  align-self: stretch;
  flex-wrap: wrap;
}

.grid-container {
  display: flex;
  padding: 10px;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  flex: 1 1 calc(50% - 10px);

  border-radius: 5px;
  border: 1px solid #000;
  background: #ab74b2;
}
.grid-scientist {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.grid-button {
  height: 44px;
  align-self: stretch;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #d6b3e7;
  border: 1px solid #000;
  border-radius: 21px;
  box-shadow: 1px 1px 0px 0px #000;
  color: #000;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.grid-button:hover {
  background-color: #8957a2;
}

/* investimenti approval */
.archetype-graph {
  margin: auto;
  align-self: stretch;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}
.approval-grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin: 0;
  padding: 0;
  width: 100%;
}
.approval-media {
  display: flex;
  height: 40px;
  padding: 7px 20px 8px 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
  border-radius: 21px;
  border: 1px solid #0d0d0c;
}
.approval-toggle-row {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  padding: 0px 10px;
  width: 100%;
}

.approval-switch {
  position: relative;
  display: inline-block;
  width: 80px;
  height: 40px;
}

.approval-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 80px;
  border-radius: 17.5px;
  border: 1px solid #000;
  background-color: #b7556f;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 30px;
  width: 30px;
  left: 4px;
  top: 3px;
  background-color: #c76d85;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #f49cb4;
}

input:checked + .slider:before {
  -webkit-transform: translateX(38px);
  -ms-transform: translateX(38px);
  transform: translateX(38px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
  border: 1px solid #000;
  box-shadow: 1px 1px 0px 0px #000;
}

.approval-button {
  height: 44px;
  width: 50%;
  margin: auto;
  align-self: stretch;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #f49cb4;
  border: 1px solid #000;
  border-radius: 21px;
  box-shadow: 1px 1px 0px 0px #000;
  color: #000;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.approval-button:hover {
  background-color: #f49cb4;
}

/* Animazione di entrata */
@keyframes slideIn {
  0% {
    top: 100%;
  }
  70% {
    top: 65px;
  }
  100% {
    top: 70px;
  }
}

/* Animazione di uscita */
@keyframes slideOut {
  0% {
    top: 0;
  }
  100% {
    top: 150%;
  }
}

.fullscreen-div.slide-out {
  animation: slideOut 0.7s ease forwards;
}

/* Stile testo */
.titoletti {
  text-transform: uppercase;
  font-size: 0.6875rem;
  font-weight: 500;
  color: #8c8a88;
}

.helvetica11 {
  font-size: 0.6875rem;
  font-weight: 400;
  color: #000;
  line-height: 0.6875rem; /* 100% */
  text-transform: uppercase;
}

.helvetica14 {
  /* Medium 14 ALT */
  font-family: "Helvetica Neue";
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 300;
  line-height: 0.875rem; /* 100% */
}

.helvetica22 {
  font-size: 1.375rem;
  font-weight: 500;
  color: #000;
  line-height: 110%;
}

.hashtags {
  text-transform: uppercase;
  color: #8c8a88;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 100%;
}

.bodyText {
  color: #000;
  font-size: 0.6875rem;
  font-weight: 300;
  line-height: 110%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.helvetica40 {
  font-size: 2.5rem;
  font-weight: 500;
  color: #000;
  line-height: 100%;
}
.helvetica30 {
  font-size: 1.875rem;
  font-weight: 500;
  color: #000;
  line-height: 100%;
}
.helvetica60 {
  color: #000;
  font-size: 3.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
}

.bold {
  font-weight: 600;
}
